* {
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  font-size: 20px;
}

.nav-wrapper h1 {
  text-align: center;
  padding-bottom: 10px;
}

#nav-mobile {
  color: white;
  font-size: 40px;
}

div h1 {
  color: darkgray;
  font-size: 72px;
  font-family: "Open Sans", sans-serif;
}
div h2 {
  color: white;
  font-size: 24px;
  font-stretch: wider;
  font-family: monospace;
}

nav li a {
  color: white;
  align-items: center;
  font-size: 18px;
flex-wrap: unwrap;
  font-style: bold;
  font-stretch: condensed;
  font-family: monospace;
}

.card-title {
  color: peru;
  font-size: 8px;
  font-family: monospace;
}
.col s12 m3{
  background-color:#FFF8E1;
}
.previous-search {
  clear: both;
  float: right;
  width: 20%;
  height: 80%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
}

div.footer-name {
  margin-top: 80px;
  text-align: center;
  font-size: 8px;
  color: darkgoldenrod;
  background-image: linear-gradient(135deg, pink 20%, lightgray);
}
div.container{
  padding: 0;
  margin-block: 0;
}
.banner {
  padding: 100px;
  text-align: center;
  background-color: #2589bd;
  border-radius: 0;
}

/* .row {
  white-space: pre-wrap;
  border-top: 1px solid white;
  height: 80px;
} */

.check-button {
  border: 1px solid lightgray;
  background-color: lightblue;
}

.hour.col-md-2 {
  color: gray;
  background-color: lightblue;
  border-top: 1px dashed #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  align-content: center;
}

/* .saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */
