* body {
    font-family: "Open Sans", sans-serif;
    font-style: bold;
    font-size: 20px;
    line-height: 1;
    background-color: #fff0f5;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: grey;
  }
  #currentDay.lead {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: darkgoldenrod;
  }
  #footer-name{
    text-align: center;
    font-size: 16px;
    color: darkgoldenrod;
  }
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    border-top: 1px solid white;
    height: 80px;
  }
  
  .check-button {
    border: 1px solid lightgray;
    background-color: lightblue;
  }
  .hour.col-md-2 {
    color: gray;
    background-color: lightblue;
    border-top: 1px dashed #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    align-content: center;
  }
  .past {
    background-color:palevioletred;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06aed5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  
