* {
  font-family: "Open Sans", sans-serif;
  font-style: bold;
  font-size: 20px;
}

.nav-wrapper h1 {
  text-align: center;
  padding-bottom: 10px;
}

#nav-mobile ul{
  color: white;
  font-size: 40px;
}

div h1 {
  color: darkgray;
  font-size: 72px;
  font-family: "Open Sans", sans-serif;
}
div h2 {
  color: white;
  font-size: 24px;
  font-stretch: wider;
  font-family: monospace;
}

nav li a {
  color: white;
  align-items: center;
  font-size: 18px;
flex-wrap: unwrap;
  font-style: bold;
  font-stretch: condensed;
  font-family: monospace;
}

.card-title {
  color: peru;
  font-size: 16px;
  font-family: monospace;
}

p {
  font-family:monospace;
  font-size: 16px;
  color: white;
}

div.footer-name {
  margin-top: 80px;
  text-align: center;
  font-size: 8px;
  color: darkgoldenrod;
  background-image: linear-gradient(135deg, pink 20%, lightgray);
}
div.container{
  padding: 0;
  margin-block: 0;
}
.banner {
  padding: 100px;
  text-align: center;
  background-color: #2589bd;
  border-radius: 0;
}

.row button {
  color:peru;
  font-size: 24px;
  border: 1px solid lightgray;
  border-radius: 10px;
}


/* .saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
} */
